
@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css or App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body {
background: #f1f5f9;

}

.container2{
  margin-left: 0px;
  margin-right: 0px;  
}
